:root {
    --v-red: #ff4655;
    --v-dark: #0f1923;
    --v-panel: #1f2326;
    --v-cyan: #00f0ff;
    --v-lobby-btn: #4a4a4a;
}

body {
    background: var(--v-dark);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;
    overflow: hidden;
    color: white;
}

.v-btn-play {
    background: var(--v-red);
    color: white;
    border: none;
    padding: 15px 80px;
    font-size: 32px;
    font-style: italic;
    cursor: pointer;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    transition: 0.2s;
    font-weight: 700;
    box-shadow: -6px 6px 0px #000;
}

.v-btn-play:hover {
    background: white;
    color: var(--v-red);
    transform: scale(1.05);
}

.btn-small {
    font-size: 18px;
    padding: 10px 40px;
    margin-top: 20px;
}

.csgo-overlay {
    width: 100%;
    max-width: 900px;
    text-align: center;
    display: none;
}

.roulette-viewport {
    position: relative;
    width: 100%;
    height: 160px;
    background: rgba(0, 0, 0, 0.85);
    overflow: hidden;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}

.items-wrap {
    display: flex;
    position: absolute;
    height: 100%;
}

.item {
    min-width: 160px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #222;
}

.item img {
    width: 110px;
    height: 110px;
    object-fit: contain;
}

.selector {
    position: absolute;
    left: 50%;
    width: 4px;
    height: 100%;
    background: var(--v-red);
    z-index: 10;
    transform: translateX(-50%);
    box-shadow: 0 0 20px var(--v-red);
}

.status-text {
    letter-spacing: 5px;
    margin-top: 20px;
    font-weight: 700;
    color: var(--v-cyan);
}

/* AQUÍ EL CAMBIO: Fondo sólido y sin ruleta visible */
.reward-overlay {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: var(--v-dark); /* Fondo sólido */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.reward-content {
    text-align: center;
    background: var(--v-panel);
    padding: 50px;
    border: 2px solid var(--v-red);
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

#winner-img {
    width: 300px;
    height: 300px;
    object-fit: contain;
    filter: drop-shadow(0 0 20px var(--v-red));
}
